<!--pages/outer/outerCustomerOrderList.wxml-->
<!-- 客户订单明细页面 -->
<view class="container" style='padding-bottom:0;'>
  <van-toast id="van-toast" />
  <view class='wrapper'>
    <view class='searchWrapper' style='width:100%;background-color:#fff;'>
      <view class='flex-row picker'>
        <!-- <view class='col-25 text-right'>
        提交日期：
      </view> -->
        <view class='col-45 text-center datePicker'>
          <picker mode="date" value="{{startDate}}" fields="day" start="2017-12-12" bindchange="bindDate">
            <text class='date'>{{startDate}}</text>
          </picker>
        </view>
        <view class='col-45 text-center datePicker'>
          <picker mode="date" value="{{endDate}}" fields="day" start="2017-12-12" bindchange="bindDate2">
            <text class='date'>{{endDate}}</text>
          </picker>
        </view>
      </view>

      <view class="weui-search-bar border-none bg-none">
        <view class="weui-search-bar__form">
          <view class="weui-search-bar__box">
            <icon class="weui-icon-search_in-box" type="search" size="14"></icon>
            <input type="text" class="weui-search-bar__input" placeholder="发货客户" value="{{inputVal}}" focus="{{inputShowed}}" bindinput="inputTyping" />
            <view class="weui-icon-clear" wx:if="{{inputVal.length > 0}}" bindtap="hideInput">
              <icon type="clear" size="14"></icon>
            </view>
          </view>
          <label class="weui-search-bar__label" hidden="{{inputShowed}}" bindtap="showInput">
            <icon class="weui-icon-search" type="search" size="14"></icon>
            <view class="weui-search-bar__text">{{inputVal ? inputVal : '发货客户：手动录入，模糊查询'}}</view>
          </label>
        </view>
        <view class="weui-search-bar__cancel-btn" style='font-size:30rpx;color:#50a3fb;' hidden="{{!inputShowed}}" bindtap="doSearch">搜索</view>
      </view>
      <view class="weui-search-bar border-none bg-none">
        <view class="weui-search-bar__form">
          <view class="weui-search-bar__box">
            <icon class="weui-icon-search_in-box" type="search" size="14"></icon>
            <input type="text" class="weui-search-bar__input" placeholder="路线" value="{{inputRouteVal}}" focus="{{inputRouteShowed}}" bindinput="inputRouteTyping" />
            <view class="weui-icon-clear" wx:if="{{inputRouteVal.length > 0}}" bindtap="hideRouteInput">
              <icon type="clear" size="14"></icon>
            </view>
          </view>
          <label class="weui-search-bar__label" hidden="{{inputRouteShowed}}" bindtap="showRouteInput">
            <icon class="weui-icon-search" type="search" size="14"></icon>
            <view class="weui-search-bar__text">{{inputRouteVal ? inputRouteVal : '路线：手动录入，模糊查询'}}</view>
          </label>
        </view>
        <view class="weui-search-bar__cancel-btn" style='font-size:30rpx;color:#50a3fb;' hidden="{{!inputRouteShowed}}" bindtap="doSearch">搜索</view>
      </view>
    </view>

    <view class='title-wrapper'>
      <view class='title'>客户订单明细列表</view>
    </view>

    <view class='container' style='font-size:30rpx;'>
      <view wx:if='{{dataList.length > 0}}' style='width:100%'>
        <view class='selectPanel' wx:for='{{dataList}}' wx:key='index' bindtap="bindCheckbox" data-index="{{index}}">
          <view class='panel_icon'>
            <icon wx:if="{{selectList[index]}}" type="success_circle" color='#3c9aff' size="20" />
            <icon wx:else type="circle" size="20" />
          </view>
          <view class='panel_content'>
            <view class='margin22'>客户订单号：{{item.a2}}</view>
            <view class='margin22'>发货客户：{{item.a3}}</view>
            <view class='detailDate margin22'>要求装车时间：{{item.a4}}</view>
            <view class='wrap2 margin22'>
              <view class='wrap_left'>路线：{{item.a5 ? item.a5 : ''}}</view>
              <view>收货点数：{{item.a6 ? item.a6 : ''}}</view>
            </view>
            <view class='margin22'>收货客户：{{item.a7 ? item.a7 : ''}}</view>
          </view>
        </view>
      </view>
      <view class='noData' wx:else>暂无数据</view>
    </view>
  </view>
</view>

<view class='footer'>
  <view class='selectAll' bindtap='bindSelectAll'>
    <view class='selectAllIcon'>
      <icon wx:if="{{selectedAllStatus}}" type="success_circle" size="20" color='#3c9aff' />
      <icon wx:else type="circle" size="20" />
    </view>
    <view class='selectAllText' wx:if='{{sum == 0}}'>全选</view>
    <view class='selectAllText' wx:else>已选({{sum}})</view>
    <!-- <view class='selectAllAmount' wx:if='{{sum != 0}}'>{{sum}}</view> -->
  </view>
  <view class='button' wx:if='{{disabled}}' bindtap='add'>提交</view>
  <view class='disabled' wx:else>提交</view>

</view>

<i-load-more wx:if='{{loading == 1}}' />
<i-load-more tip="这里是底线" loading="{{ false }}" wx:if='{{ dataList.length != 0 && loading == 2}}' />
<view class='c_b50'></view>