<!-- 审批首页列表页面 -->
<view class="container">
  <van-tabs style='width: 100%' active="{{ active }}" color='#50a3fb' bind:change="onChange" line-width='32' duration='.3'>
    <van-tab title="待办"></van-tab>
    <van-tab title="已办"></van-tab>
  </van-tabs>

  <van-toast id="van-toast" />

  <view class='wrapper'>

    <view class='flex-row picker'>
      <!-- <view class='col-25 text-right'>
        提交日期：
      </view> -->
      <view class='col-45 text-center datePicker'>
        <picker mode="date" value="{{startDate}}" fields="day" start="2017-12-12" bindchange="bindDate">
          <text class='date'>{{startDate}}</text>
        </picker>
      </view>
      <!-- <view class='col-5 text-center'>
        至
      </view> -->
      <view class='col-45 text-center datePicker'>
        <picker mode="date" value="{{endDate}}" fields="day" start="2017-12-12" bindchange="bindDate2">
          <text class='date'>{{endDate}}</text>
        </picker>
      </view>
    </view>

    <view class="weui-search-bar border-none bg-none">
      <view class="weui-search-bar__form">
        <view class="weui-search-bar__box">
          <icon class="weui-icon-search_in-box" type="search" size="14"></icon>
          <input type="text" class="weui-search-bar__input" placeholder="任务名称" value="{{inputVal}}" focus="{{inputShowed}}" bindinput="inputTyping" />
          <view class="weui-icon-clear" wx:if="{{inputVal.length > 0}}" bindtap="hideInput">
            <icon type="clear" size="14"></icon>
          </view>
        </view>
        <label class="weui-search-bar__label" hidden="{{inputShowed}}" bindtap="showInput">
          <icon class="weui-icon-search" type="search" size="14"></icon>
          <view class="weui-search-bar__text">输入任务名称快速搜索</view>
        </label>
      </view>
      <view class="weui-search-bar__cancel-btn" style='font-size:30rpx;color:#50a3fb;' hidden="{{!inputShowed}}" bindtap="doSearch">搜索</view>
    </view>

    <view>
      <view class='item' wx:for='{{dataList}}' wx:for-item='list' wx:key='{{index}}' bindtap='viewClick' data-id='{{list.busiEntityId}}' data-code='{{list.sSheetCode}}' data-state='{{list.workItemcurrentState}}' data-index='{{index}}'>
        <view class='prop textWrap'>
          <view class='circle-li'>{{index+1}}</view>{{list.procInstName}}
        </view>
        <view class='prop'>
          单据名称：{{list.sheetName}}
        </view>
        <view class='prop'>
          节点名称：{{list.actInstName}}
        </view>
        <view class='flex-row prop'>
          <view class='col-50'>
            参与人：{{list.workItemActorName}}
          </view>
          <view class='col-50'>
            参与人类型： {{list.workItemActorType}}
          </view>
        </view>
        <view class='flex-row prop'>
          <view class='col-50'>
            提交时间：{{list.procInstStartTime ? list.procInstStartTime : '无'}}
          </view>
          <view class='col-50'>
            状态：
            <text class='{{ list.workItemcurrentState == "运行态" ? "orange" : "color" }}'>{{list.workItemcurrentState}}</text>
          </view>
        </view>
        <view class='prop'>
          提交人：{{list.procInstCreatorId}}
        </view>
        <view class='btn-wrapper flex-row' wx:if='{{ active  == 0}}'>
          <view class='col-100'>
            <button class='finish color' data-id='{{list.workItemId}}' data-actionName='同意' data-actioncode='approval' data-procInstId='{{list.procInstId}}' catchtap='setClick'>同意</button>
            <button class='finish color' data-id='{{list.workItemId}}' data-actionName='驳回' data-actioncode='reject' data-procInstId='{{list.procInstId}}' catchtap='setClick'>驳回</button>
            <button class='finish color' data-id='{{list.workItemId}}' data-actionName='转审' data-actioncode='turnReview' data-procInstId='{{list.procInstId}}' data-procTmpId='{{list.procTmpId}}' data-actTmpId='{{list.actTmpId}}' catchtap='setClick'>转审</button>
          </view>
        </view>
      </view>
      <view class='noData' style='height:100rpx;margin-bottom:30rpx;' wx:if='{{dataList.length == 0}}'>暂无数据</view>
    </view>
  </view>
</view>

<view class='model' wx:if="{{inputBoxShow}}" catchtouchmove='stopPageScroll'>
  <!-- invisible_model view 用于点击隐藏model评论框 -->
  <view class='invisible_model' catchtap='invisible'></view>
  <view class='input-box'>
    <view class='col-100 text-center' style='margin-bottom:20rpx;'>{{actionName}}请输入意见</view>
    <textarea class="textarea" placeholder="意见：" value='{{approvalDesc}}' cursor-spacing="{{65}}" show-confirm-bar="{{false}}" adjust-position="{{true}}" auto-focus="{{true}}" fixed='true' bindinput='inputDesc' />
    <view class='btn-wrapper flex-row'>
      <view class='col-100'>
        <button class='finish color' style='width:30%;margin:0 10%;' data-id='{{workItemId}}' data-actionName='{{actionName}}' data-actionCode='{{actionCode}}' catchtap='cancel'>取消</button>
        <button class='start' style='width:30%;margin:0 10%;' data-id='{{workItemId}}' data-actionName='{{actionName}}' data-actioncCode='{{actionCode}}' catchtap='submit'>确认</button>
      </view>
    </view>
  </view>
</view>

<view class='model' wx:if="{{selectBoxShow}}" catchtouchmove='stopPageScroll'>
  <!-- invisible_model view 用于点击隐藏model评论框 -->
  <view class='invisible_model' catchtap='selectInvisible'></view>
  <view class='input-box'>
    <view class='pickerWrap'>
      <view class='col-5'></view>
      <view class='col-45 text-center'>选择转审人</view>
      <picker class='zsPicker' mode='selector' range='{{userNameList}}' bindchange='chooseUser'>
        <view class='picker-text'>{{userNameList[userIndex]}}</view>
      </picker>
    </view>
    <view class='btn-wrapper flex-row'>
      <view class='col-100'>
        <button class='finish color' style='width:30%;margin:0 10%;' data-id='{{workItemId}}' data-actionName='{{actionName}}' data-actioncode='{{actionCode}}' catchtap='cancel'>取消</button>
        <button class='start' style='width:30%;margin:0 10%;' data-id='{{workItemId}}' data-actionName='{{actionName}}' data-actioncode='{{actionCode}}' catchtap='submit' disabled='{{trBtnDisabled}}'>确认</button>
      </view>
    </view>
  </view>
</view>

<i-load-more wx:if='{{loading == 1}}' />
<i-load-more tip="这里是底线" loading="{{ false }}" wx:if='{{ dataList.length != 0 && loading == 2}}' />