<!--pages/declaration/declarationDetail.wxml-->
<!--pages/declaration/addDeclaration.wxml-->
<view class='page'>
  <view class='head'>
    <view class='head-text'>报单单号：{{data.a1}}</view>
  </view>

  <!-- 发货客户表单 -->
  <view class='content-title'>
    发货客户
    <view class='add-icon'>创建日期：{{data.a2}}</view>
  </view>
  <view class='content' style='word-break:break-all'>
    <view class='wrap2 margin22'>
      <view class=' flex-row'>
        <label class='mw-75'>客户名称：</label>
        <view class='w-244'>{{data.a4}}</view>
      </view>
    </view>
    <view class='wrap2 margin22'>
      <view class=' flex-row'>
        <label class='mw-75'>客户编码：</label>
        <view class='w-244'>{{data.a3}}</view>
      </view>
    </view>
    <view class='wrap2 margin22'>
      <view class=' flex-row'>
        <label class='mw-75'>要求路线：</label>
        <view class='w-244'>{{data.a5}}</view>
      </view>
    </view>
    <view class='wrap2 margin22'>
      <view class='flex-row'>
        <label class='mw-75'>温度要求：</label>
        <view class='w-244'>{{data.a6}}</view>
      </view>
    </view>
    <view class='wrap2 margin22'>
      <view class=' flex-row'>
        <label class='mw-75'>责任小组：</label>
        <view class='w-244'>{{data.a7 ? data.a7 : ''}}</view>
      </view>
    </view>
    <view class='wrap2 margin22'>
      <view class=' flex-row'>
        <label class='mw-75'>备
          <text decode="{{true}}" space="{{true}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>注：</label>
        <view >{{data.a8 ? data.a8 : ''}}</view>
      </view>
    </view>
  </view>

  <!-- 发货点信息列表 -->
  <view class='1'>
    <view class='content-title'>
      发货点信息
    </view>
    <view class='container'>
      <view wx:if='{{deliveryInfo.length > 0}}' style='width:100%'>
        <view class='selectPanel' wx:for='{{deliveryInfo}}' wx:key='index'>
          <view class='panel_content'>
            <view class='wrap2 margin22'>
              <view class='flex-row'>
                <label>所属客户编码：{{item.b12}}</label>
              </view>
            </view>
            <view class='wrap2 margin22'>
              <view class='flex-row'>
                <label>所属客户名称：{{item.b2}}</label>
              </view>
            </view>
            <view class='wrap2 margin22'>
              <view class='flex-row'>
                <label>地
                  <text decode="{{true}}" space="{{true}}">&nbsp;</text>址
                  <text decode="{{true}}" space="{{true}}">&nbsp;&nbsp;</text>详
                  <text decode="{{true}}" space="{{true}}">&nbsp;</text>情：</label>
                <view class='longText'>{{item.b3 ? item.b3 : ''}}</view>
              </view>
            </view>
            <view class='wrap2 margin22'>
              <view class=' flex-row'>
                <label class='mw-85'>要求装车时间：{{item.b4}}</label>
              </view>
            </view>
            <view class='wrap2 margin22'>
              <view class='col-50 flex-row'>
                <label class=''>数量：{{item.b5 ? item.b5 : ''}}</label>
              </view>
              <view class='col-50 flex-row'>
                <label class=''>单位：{{item.b6 ? item.b6 : ''}}</label>
              </view>
            </view>
            <view class='wrap2 margin22'>
              <view class='flex-row'>
                <label class=''>货物类型：{{item.b7 ? item.b7 : ''}}</label>
              </view>
            </view>
          </view>
        </view>
      </view>
      <view class='noData' style='height:100rpx;' wx:else>暂无数据</view>
    </view>
  </view>


  <!-- 收货点信息列表  -->
  <view style='margin-top:20rpx;'>
    <view class='content-title'>
      收货点信息
    </view>
    <view class='container'>
      <view wx:if='{{receivingInfo.length > 0}}' style='width:100%'>
        <view class='selectPanel' wx:for='{{receivingInfo}}' wx:key='index'>
          <view class='panel_content'>
            <view class='wrap2 margin22'>
              <view class='flex-row'>
                <label>所属客户编码：{{item.c1}}</label>
              </view>
            </view>
            <view class='wrap2 margin22'>
              <view class='flex-row'>
                <label>所属客户名称：{{item.c2}}</label>
              </view>
            </view>
            <view class='wrap2 margin22'>
              <view class='flex-row'>
                <label>地
                  <text decode="{{true}}" space="{{true}}">&nbsp;</text>址
                  <text decode="{{true}}" space="{{true}}">&nbsp;&nbsp;</text>详
                  <text decode="{{true}}" space="{{true}}">&nbsp;</text>情：</label>
                <view class='longText'>{{item.c3 ? item.c3 : ''}}</view>
              </view>
            </view>
            <view class='wrap2 margin22'>
              <view class='flex-row'>
                <label class='mw-85'>要求到货时间：{{item.c4}}</label>
              </view>
            </view>
            <view class='wrap2 margin22'>
              <view class='col-50 flex-row'>
                <label class=''>结算方式：{{item.c5}}</label>
              </view>
              <view class='col-50 flex-row'>
                <label class=''>货物类型：{{item.c7 ? item.c7 : ''}}</label>
              </view>
            </view>
            <view class='wrap2 margin22'>
              <view class='col-50 flex-row'>
                <label class=''>是否回单：{{item.c6 ? item.c6 : ''}}</label>
              </view>
              <view class='col-50 flex-row'>
                <label class=''>数量：{{item.c8 ? item.c8 : ''}}</label>
              </view>
            </view>
            <view class='wrap2 margin22'>
              <view class='col-50 flex-row'>
                <label class=''>单位：{{item.c9 ? item.c9 : ''}}</label>
              </view>
              <view class='col-50 flex-row'>
                <label class=''>单价：{{item.c10 ? item.c10 : ''}}</label>
              </view>
            </view>
          </view>
        </view>
      </view>
      <view class='noData' style='height:100rpx;' wx:else>暂无数据</view>
    </view>
  </view>
</view>

